.span7.headline
  %h2 Introducing:
  %h1 
    Pill Pack by 
    %img{:src => "../images/logo-mini-white.png", :alt => "Minda"}
.span5
  .signup-form
    <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <div id="mc_embed_signup">
    <form action="http://joysti.us2.list-manage1.com/subscribe/post?u=3e3392ea826ef7503b3204b08&amp;id=eca775b899" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <label for="mce-EMAIL">Subscribe to our mailing list</label>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </form>
    </div>

    <!--End mc_embed_signup-->
