.offset1.span9
  =simple_form_for resource, as: :account, url: account_path, html: {autocomplete: :off } do |form|
    %fieldset
      %legend Profile
      .inputs
        =form.simple_fields_for :profile do |profile_form|
          =profile_form.input :first_name
          =profile_form.input :last_name
          =profile_form.input :dob, start_year: Date.today.year - 90, end_year: Date.today.year - 12, include_blank: true
          =profile_form.input :social
          =profile_form.input :street
          =profile_form.input :street2
          =profile_form.input :city
          =profile_form.input :state, :collection => states

    .form-actions
      =form.button :submit, class: 'btn-primary'
